<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>e租</title>

    <style>
        .el-header, .el-footer {
            background-color: #B3C0D1;
            color: #333;
            text-align: center;
            line-height: 60px;
        }

        .el-aside {
            background-color: #D3DCE6;
            color: #333;
            text-align: center;
            line-height: 200px;
        }

        .el-table .warning-row {
            background: #f0f9eb;
        }

        .el-table .sold-row {
            background: oldlace;
        }

        .demo-table-expand {
            font-size: 0;
        }

        .demo-table-expand label {
            width: 90px;
            color: #99a9bf;
        }

        .demo-table-expand .el-form-item {
            margin-right: 0;
            margin-bottom: 0;
            width: 50%;
        }

        .el-row {
            margin-bottom: 20px;
        }

        :last-child {
            margin-bottom: 0;
        }

        .el-col {
            border-radius: 4px;
        }

        .bg-purple-dark {
            background: #99a9bf;
        }

        .bg-purple {
            background: #d3dce6;
        }

        .bg-purple-light {
            background: #e5e9f2;
        }

        .grid-content {
            border-radius: 4px;
            min-height: 36px;
        }

        .row-bg {
            padding: 10px 0;
            background-color: #f9fafc;
        }
    </style>

</head>
<body>

<div id="app">

    <!--容器-->
    <el-container>
        <!--侧边栏-->
        <el-aside width="200px">
            <el-menu default-active="1">
                <el-menu-item index="1" @click="selectByPAC()">
                    <i class="el-icon-s-home"></i>
                    <span slot="title">租房大厅</span>
                </el-menu-item>
                <el-menu-item index="2" @click="hrefToMsg()">
                    <i class="el-icon-message"></i>
                    <span slot="title">消息</span>
                </el-menu-item>
                <el-menu-item index="3" @click="showUserInfo()">
                    <i class="el-icon-setting"></i>
                    <span slot="title">个人信息</span>
                </el-menu-item>
                <el-menu-item index="4" @click="hrefToHouse()">
                    <i class="el-icon-house"></i>
                    <span slot="title">我的租房</span>
                </el-menu-item>
            </el-menu>
        </el-aside>

        <el-container>
            <!--页头-->
            <el-header>
                <el-row>
                    <el-col :span="8" style="text-align: left">
                        <div>
                            <span v-show="disabled">
                                <el-button type="success" @click="openAddHouseDialog()"
                                           icon="el-icon-plus" circle>
                                </el-button>
                            </span>
                            <span>
                            <el-button @click="selectDialogVisible = true" icon="el-icon-search" circle></el-button>
                            </span>
                            <span>
                            <el-button type="primary" @click="cleanHouseDate()&selectByPAC()" icon="el-icon-refresh-right" circle></el-button>
                            </span>
                        </div>
                    </el-col>

                    <el-col :span="8">
                        <div>主页</div>
                    </el-col>

                    <el-col :span="8" style="text-align: right">
                        <div>
                            <span v-show="disabled">
                                <el-button type="info" @click="checkout()"
                                           icon="el-icon-remove">退出登录
                                </el-button>
                            </span>
                            <span v-show="disabled">{{user.username}}</span>
                            <span v-show="visible">
                                <el-button type="warning" @click="openLoginDialog()"
                                           icon="el-icon-bell">请登录
                                </el-button>
                            </span>
                        </div>
                    </el-col>
                </el-row>
            </el-header>

            <!--主体表格-->
            <el-main>
                <template>
                    <el-table
                            :data="tableData"
                            height="750"
                            style="width: 100%"
                            :row-class-name="mainTable">
                        <el-table-column type="expand">
                            <template slot-scope="props">
                                <el-form label-position="left" inline class="demo-table-expand">
                                    <el-form-item label="房屋ID">
                                        <span>{{ props.row.id }}</span>
                                    </el-form-item>
                                    <el-form-item label="房主ID">
                                        <span>{{ props.row.ownerId }}</span>
                                    </el-form-item>
                                    <el-form-item label="房屋地址">
                                        <span>{{ props.row.addr }}</span>
                                    </el-form-item>
                                    <el-form-item label="房型结构">
                                        <span>{{ props.row.type }}</span>
                                    </el-form-item>
                                    <el-form-item label="房屋状态">
                                        <span>{{ props.row.statusStr }}</span>
                                    </el-form-item>
                                    <el-form-item label="租金">
                                        <span>{{ props.row.rent}}</span>/月
                                    </el-form-item>
                                    <el-form-item label="发布时间">
                                        <span>{{ props.row.timeStr}}</span>
                                    </el-form-item>
                                </el-form>
                            </template>
                        </el-table-column>

                        <el-table-column
                                type="index"
                                label="编号"
                                :index="indexMethod">
                        </el-table-column>
                        <el-table-column
                                label="房屋类型"
                                align="center"
                                prop="type">
                        </el-table-column>
                        <el-table-column
                                label="房屋地段"
                                align="center"
                                prop="addr">
                        </el-table-column>
                        <el-table-column
                                label="租金/月"
                                align="center"
                                prop="rent">
                        </el-table-column>
                        <el-table-column
                                label="状态"
                                align="center"
                                prop="statusStr">
                        </el-table-column>
                        <el-table-column
                                align="center"
                                label="操作">
                            <template slot-scope="scope">
                                <el-row>
                                    <el-button
                                            size="middle"
                                            @click="appointment(scope.row)"
                                            :disabled="checkAppointmentButtonClickable(scope.row)"
                                    >预约看房
                                    </el-button>
                                </el-row>
                            </template>
                        </el-table-column>
                    </el-table>
                </template>
            </el-main>

            <!--分页器-->
            <el-footer>
                <el-pagination
                        @size-change="handleSizeChange"
                        @current-change="handleCurrentChange"
                        :current-page="currentPage"
                        :page-sizes="[5, 10, 15, 20]"
                        :page-size="pageSize"
                        :page-size="pageSize"
                        layout="total, sizes, prev, pager, next, jumper"
                        :total="totalCount">
                </el-pagination>
            </el-footer>
        </el-container>
    </el-container>

    <!--登录对话框-->
    <el-dialog
            :visible.sync="loginDialogVisible"
            width="30%"
    >
        <!--登录表单-->
        <el-form
                :model="login"
                label-width="80px"
        >
            <el-form-item label="用户名">
                <el-input v-model="login.username" placeholder="请输入用户名"></el-input>
            </el-form-item>

            <el-form-item label="密码">
                <el-input v-model="login.password" type="password" placeholder="请输入密码"></el-input>
            </el-form-item>

            <el-form-item>
                <el-button type="primary" @click="userLogin()">登录</el-button>
                <el-button @click="closeLoginDialog()">取消</el-button>
                <el-button type="success" @click="closeLoginDialog()&openRegisterDialog()">注册账号</el-button>
            </el-form-item>

        </el-form>

    </el-dialog>

    <!--注册对话框-->
    <el-dialog
            :visible.sync="registerDialogVisible"
            width="30%"
    >
        <!--注册表单-->
        <el-form
                :model="register"
                status-icon
                :rules="registerRules"
                ref="register"
                label-width="100px"
        >
            <el-form-item label="用户名" v-on:blur="checkUserName()" prop="username">
                <el-input v-model="register.username" placeholder="请输入用户名"></el-input>
            </el-form-item>

            <el-form-item label="密码" prop="password">
                <el-input v-model="register.password" type="password" placeholder="请输入密码"></el-input>
            </el-form-item>

            <el-form-item label="电话号" prop="phone">
                <el-input v-model="register.phone" placeholder="请输入电话号"></el-input>
            </el-form-item>

            <el-form-item label="地址" prop="addr">
                <el-input v-model="register.addr" placeholder="请输入地址"></el-input>
            </el-form-item>

            <el-form-item>
                <el-switch
                        style="display: block"
                        v-model="register.gender"
                        active-color="blue"
                        inactive-color="#ff4949"
                        active-text="男"
                        active-value="男"
                        inactive-text="女"
                        inactive-value="女"
                >
                </el-switch>
            </el-form-item>

            <el-form-item>
                <el-switch
                        style="display: block"
                        v-model="register.type"
                        active-color="blue"
                        inactive-color="#ff4949"
                        active-text="租房需求"
                        active-value="2"
                        inactive-text="出租房屋"
                        inactive-value="1"
                >
                </el-switch>
            </el-form-item>


            <el-form-item label="生日" prop="birth">
                <el-date-picker
                        v-model="register.birth"
                        type="date"
                        placeholder="选择日期"
                        format="yyyy 年 MM 月 dd 日"
                        value-format="yyyy-MM-dd"
                >
                </el-date-picker>
            </el-form-item>


            <el-form-item>
                <el-button type="primary" @click="userRegister('register')">注册并登录</el-button>
                <el-button @click="closeRegisterDialog()">取消</el-button>
                <el-button type="success" @click="openLoginDialog()&closeRegisterDialog()">已有账号</el-button>
            </el-form-item>
        </el-form>

    </el-dialog>

    <!--搜索对话框-->
    <el-dialog
            title="搜索房屋"
            :visible.sync="selectDialogVisible"
            width="30%"
    >

        <!--搜索表单-->
        <el-form
                :model="house"
                label-width="80px">
            <el-form-item label="房屋类型">
                <el-input v-model="house.type" placeholder="两室一厅一卫"></el-input>
            </el-form-item>

            <el-form-item label="房屋地址">
                <el-input v-model="house.addr" placeholder="西安市雁塔区"></el-input>
            </el-form-item>
            <!--价格区间-->
            <template>
                <el-form-item label="价格区间">
                    <div class="block">
                        <el-slider
                                v-model="value"
                                range
                                show-stops
                                :marks="marks"
                                :max="10000"
                                :step="500">
                        </el-slider>
                    </div>
                </el-form-item>

            </template>

            <el-form-item>
                <el-button type="primary" @click="selectByPAC()">提交</el-button>
                <el-button @click="selectDialogVisible = false">取消</el-button>
            </el-form-item>
        </el-form>

    </el-dialog>

    <!--添加房屋对话框-->
    <el-dialog
            title="添加房屋"
            :visible.sync="addDialogVisible"
            width="30%"
    >

        <!--添加表单-->
        <el-form
                :model="house"
                label-width="30%">
            <el-form-item label="房屋类型">
                <el-input v-model="house.type" placeholder="2室1厅1卫"></el-input>
            </el-form-item>

            <el-form-item label="房屋地址">
                <el-input v-model="house.addr" placeholder="西安市雁塔区"></el-input>
            </el-form-item>

            <el-form-item label="房屋租金/月">
                <el-input v-model="house.rent" placeholder="2500"></el-input>
            </el-form-item>

            <el-form-item>
                <el-button type="primary" @click="addHouse()&generateExpenseBill(20)">提交</el-button>
                <el-button @click="cleanHouseDate()&closeAddHouseDialog()">取消</el-button>
            </el-form-item>
        </el-form>

    </el-dialog>

    <!--个人信息对话框-->
    <el-dialog :visible.sync="userInfoDialogVisible"
               width="30%">
        <el-card class="box-card">
            <el-descriptions title="用户信息" :column="3">
                <el-descriptions-item>
                    <template slot="label">
                        <i class="el-icon-user"></i>
                        用户名
                    </template>
                    {{user.username}}
                </el-descriptions-item>
                <el-descriptions-item>
                    <template slot="label">
                        <i class="el-icon-mobile-phone"></i>
                        手机号
                    </template>
                    {{user.phone}}
                </el-descriptions-item>
                <el-descriptions-item>
                    <template slot="label">
                        <i class="el-icon-location-outline"></i>
                        居住地
                    </template>
                    {{user.addr}}
                </el-descriptions-item>
                <el-descriptions-item>
                    <template slot="label">
                        <i class="el-icon-tickets"></i>
                        备注
                    </template>
                    <el-tag size="small">{{user.typeStr}}</el-tag>
                </el-descriptions-item>
                <el-descriptions-item>
                    <template slot="label">
                        <i class="el-icon-date"></i>
                        生日
                    </template>
                    {{user.birthStr}}
                </el-descriptions-item>
            </el-descriptions>
        </el-card>
    </el-dialog>

    <!--选择时间对话框-->
    <el-dialog title="选择预约时间"
               :visible.sync="pickTimeVisible"
               width="30%">
        <div style="text-align: center">
            <el-date-picker
                    v-model="appointmentTime"
                    type="datetime"
                    placeholder="选择日期时间" size="large">
            </el-date-picker>
            <br><br><br>
            <el-row>
                <el-button
                        size="middle"
                        type="success"
                        @click="addAppointment()&generateExpenseBill(5)">预约
                </el-button>
                <el-button
                        size="middle"
                        type="danger"
                        @click="pickTimeVisible = false">取消
                </el-button>
            </el-row>
        </div>
    </el-dialog>

    <!--消息抽屉-->
    <el-drawer
            title="我的消息"
            :visible.sync="userMsgDrawerVisible"
            direction="ltr"
            size="80%">
        <p style="text-align: center">我的请求</p><br>
        <el-table :data="message_ReqMsg">
            <el-table-column property="id" label="请求编号"></el-table-column>
            <el-table-column property="reqTime" label="请求时间"></el-table-column>
            <el-table-column property="houseId" label="房屋编号"></el-table-column>
            <el-table-column property="ownerId" label="房主id"></el-table-column>
            <el-table-column property="appointment" label="预约时间"></el-table-column>
            <el-table-column property="currentStr" label="当前进度"></el-table-column>
            <el-table-column
                    align="center"
                    label="操作">
                <template slot-scope="scope">
                    <el-row>
                        <el-button
                                size="middle"
                                type="success"
                                @click="isRent(scope.row)"
                                :disabled="checkIsRentButtonClickable(scope.row)"
                        >确认租房
                        </el-button>
                        <el-button
                                size="middle"
                                type="info"
                                @click="cancelReq(scope.row)">取消预约
                        </el-button>
                    </el-row>
                </template>
            </el-table-column>
        </el-table>
        <br>
        <p style="text-align: center">待我处理</p>
        <el-table :data="message_OwnerMsg">
            <el-table-column property="id" label="请求编号"></el-table-column>
            <el-table-column property="reqTime" label="请求时间"></el-table-column>
            <el-table-column property="houseId" label="房屋编号"></el-table-column>
            <el-table-column property="reqId" label="租客id"></el-table-column>
            <el-table-column property="appointment" label="预约时间"></el-table-column>
            <el-table-column property="currentStr" label="当前进度"></el-table-column>
            <el-table-column
                    align="center"
                    label="操作">
                <template slot-scope="scope">
                    <el-row>
                        <el-button
                                size="middle"
                                type="success"
                                @click="comfirmReq(scope.row)"
                                :disabled="checkReqComfirmButtonClickable(scope.row)"
                        >接受看房
                        </el-button>
                        <el-button
                                size="middle"
                                type="danger"
                                @click="rejectReq(scope.row)"
                                :disabled="checkReqComfirmButtonClickable(scope.row)"
                        >拒绝看房
                        </el-button>
                    </el-row>
                </template>
            </el-table-column>
        </el-table>
    </el-drawer>

    <!--租房抽屉-->
    <el-drawer
            title="我的租房"
            :visible.sync="houseRentDrawerVisible"
            direction="ltr"
            size="90%">
        <p style="text-align: center">我的出租</p><br>
        <el-table :data="house_self">
            <el-table-column property="id" label="房屋编号"></el-table-column>
            <el-table-column property="addr" label="房屋地段"></el-table-column>
            <el-table-column property="type" label="房屋类型"></el-table-column>
            <el-table-column property="rent" label="租金/元"></el-table-column>
            <el-table-column property="timeStr" label="发布时间"></el-table-column>
            <el-table-column property="statusStr" label="状态"></el-table-column>
            <el-table-column property="renterIdStr" label="租户ID"></el-table-column>
            <el-table-column
                    align="center"
                    label="操作">
                <template slot-scope="scope">
                    <el-row>
                        <el-button
                                size="middle"
                                type="primary"
                                @click="updateHouseRentById(scope.row)"
                                :disabled="checkChangeButtonClickable(scope.row)"
                        >更改租金
                        </el-button>
                        <el-button
                                size="middle"
                                type="danger"
                                @click="deleteHouseById(scope.row)"
                                :disabled="checkChangeButtonClickable(scope.row)"
                        >下架
                        </el-button>
                    </el-row>
                </template>
            </el-table-column>
        </el-table>
        <br>
        <p style="text-align: center">我的租入</p>
        <el-table :data="house_rented">
            <el-table-column property="id" label="房屋编号"></el-table-column>
            <el-table-column property="addr" label="房屋地段"></el-table-column>
            <el-table-column property="type" label="房屋类型"></el-table-column>
            <el-table-column property="rent" label="租金/元"></el-table-column>
            <el-table-column property="timeStr" label="发布时间"></el-table-column>
            <el-table-column property="statusStr" label="状态"></el-table-column>
            <el-table-column property="ownerId" label="房东ID"></el-table-column>
            <el-table-column
                    align="center"
                    label="操作">
                <template slot-scope="scope">
                    <el-row>
                        <el-button
                                size="middle"
                                type="danger"
                                @click="checkOutHouse(scope.row)">退房
                        </el-button>
                    </el-row>
                </template>
            </el-table-column>
        </el-table>
    </el-drawer>

</div>


<!--Vue 引入-->
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<!--Axios 引入-->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!-- 引入样式 -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>


<script>
    new Vue({
        el: "#app",

        mounted() {
            this.selectByPAC();
        },

        methods: {
            // 拒绝看房请求
            rejectReq(row) {
                this.$confirm('此操作将拒绝预约, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios({
                        method: "get",
                        url: "http://localhost:8080/e-rent/request/rejectReq?id=" + row.id,
                    }).then(resp => {
                        if (resp.data === "success") {
                            this.changeHouseStatus(row.houseId,0);
                            this.selectByPAC();
                            // 删除成功
                            this.hrefToMsg();
                            // 成功弹窗
                            this.$message({
                                showClose: true,
                                message: '恭喜你，拒绝成功',
                                type: 'success'
                            });
                        }
                    })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '取消确认'
                    });
                });
            },

            // 接受看房请求
            comfirmReq(row) {
                this.$confirm('此操作将确认预约, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios({
                        method: "get",
                        url: "http://localhost:8080/e-rent/request/comfirmReq?id=" + row.id,
                    }).then(resp => {
                        if (resp.data === "success") {
                            // 删除成功
                            this.hrefToMsg();
                            // 成功弹窗
                            this.$message({
                                showClose: true,
                                message: '恭喜你，确认成功',
                                type: 'success'
                            });
                        }
                    })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '取消确认'
                    });
                });
            },

            // 取消看房请求
            cancelReq(row) {
                this.$confirm('此操作将取消预约, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios({
                        method: "get",
                        url: "http://localhost:8080/e-rent/request/cancelReq?id=" + row.id,
                    }).then(resp => {
                        if (resp.data === "success") {
                            this.changeHouseStatus(row.houseId,0);
                            // 删除成功
                            this.hrefToMsg();
                            this.selectByPAC();
                            // 成功弹窗
                            this.$message({
                                showClose: true,
                                message: '恭喜你，取消预约成功',
                                type: 'success'
                            });
                        }
                    })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '未取消'
                    });
                });
            },

            changeHouseStatus(houseId,status) {
                axios({
                    method:"get",
                    url:"http://localhost:8080/e-rent/house/changeHouseStatus?id="
                        + houseId
                        +"&status="
                        + status
                }).then(resp=>{
                })
            },

            // 提交预约
            addAppointment() {
                this.req["appointment"] = this.appointmentTime;
                axios({
                    method: "post",
                    url: "http://localhost:8080/e-rent/request/addReq?",
                    data: this.req,
                }).then(resp => {
                    if (resp.data === 'success') {
                        this.changeHouseStatus(this.req.houseId,2);
                        this.selectByPAC();
                        // 成功弹窗
                        this.$message({
                            showClose: true,
                            message: "恭喜您，预约成功",
                            type: 'success'
                        });
                        this.pickTimeVisible = false;
                    } else {
                        // 失败弹窗
                        this.$message({
                            showClose: true,
                            message: "出错了，预约失败",
                            type: 'error'
                        });
                    }
                })
            },

            // 预约信息存储
            appointment(row) {
                if (this.isLogin === true) {
                    this.pickTimeVisible = true;
                    this.req.houseId = row.id;
                    this.req.reqId = this.user.id;
                    this.req.ownerId = row.ownerId;
                } else {
                    this.notLogin();
                }
            },

            // 个人信息卡片
            showUserInfo() {
                if (this.isLogin === true) {
                    this.userInfoDialogVisible = true;
                } else {
                    this.notLogin();
                }
            },

            // 消息抽屉
            hrefToMsg() {
                if (this.isLogin === true) {
                    axios({
                        method: "get",
                        url: "http://localhost:8080/e-rent/request/selectByReqId?id=" + this.user.id
                    }).then(resp => {
                        this.message_ReqMsg = resp.data;
                    });
                    axios({
                        method: "get",
                        url: "http://localhost:8080/e-rent/request/selectByOwnerId?id=" + this.user.id
                    }).then(resp => {
                        this.message_OwnerMsg = resp.data;
                    })
                    this.userMsgDrawerVisible = true;
                } else {
                    this.notLogin();
                }
            },

            // 租房抽屉
            hrefToHouse() {
                if (this.isLogin === true) {
                    axios({
                        method: "get",
                        url: "http://localhost:8080/e-rent/house/selectByOwnerId?id=" + this.user.id
                    }).then(resp => {
                        this.house_self = resp.data;
                    });
                    axios({
                        method: "get",
                        url: "http://localhost:8080/e-rent/house/selectByRenterId?id=" + this.user.id
                    }).then(resp => {
                        this.house_rented = resp.data;
                    })
                    this.houseRentDrawerVisible = true;
                } else {
                    this.notLogin();
                }
            },

            // 添加房屋信息
            addHouse() {
                axios({
                    method: "post",
                    url: "http://localhost:8080/e-rent/house/addHouse?ownerId=" + this.user.id,
                    data: this.house
                }).then(resp => {
                    if (resp.data === 'success') {
                        // 成功弹窗
                        this.$message({
                            showClose: true,
                            message: "恭喜您，发布成功",
                            type: 'success'
                        });
                        this.closeAddHouseDialog();
                        this.cleanHouseDate();
                        this.selectByPAC();
                    } else {
                        // 失败弹窗
                        this.$message({
                            showClose: true,
                            message: "出错了，发布失败",
                            type: 'error'
                        });
                    }
                })
            },

            // 重置房屋信息
            cleanHouseDate() {
                this.house.id = '';
                this.house.ownerId = '';
                this.house.addr = '';
                this.house.type = '';
                this.house.status = '';
                this.house.rent = '';
                this.house.time = '';
                this.value[0]=0;
                this.value[1]=10000;
            },

            // 添加费用账单
            generateExpenseBill(cost) {
                this.serviceFee = cost;
                axios({
                    method: "get",
                    url: "http://localhost:8080/e-rent/expenseBill/generateExpenseBill?arrearsId="
                        + this.user.id
                        + "&cost="
                        + this.serviceFee
                }).then(resp => {
                    if (resp.data == "success") {
                        this.$message({
                            showClose: true,
                            message: '缴费成功('
                                + this.serviceFee
                                + '元)',
                            type: 'success'
                        });
                    }
                })
            },

            // 清除注册信息
            cleanRegisterData() {
                this.register.username = '';
                this.register.password = '';
                this.register.type = '2';
                this.register.addr = '';
                this.register.phone = '';
                this.register.gender = '男';
                this.register.birth = '';
            },

            // 判断是否登录
            notLogin() {
                this.$message({
                    showClose: true,
                    message: '您尚未登录',
                    type: 'error'
                });
                this.openLoginDialog();
            },

            // select by page and condition
            selectByPAC() {
                axios({
                    method: "post",
                    url: "http://localhost:8080/e-rent/house/selectByPageAndCondition?currentPage="
                        + this.currentPage
                        + "&pageSize="
                        + this.pageSize
                        + "&lower="
                        + this.value[0]
                        + "&upper="
                        + this.value[1],
                    data: this.house
                }).then(resp => {
                    this.tableData = resp.data.rows;
                    this.totalCount = resp.data.totalCount;
                })
                this.selectDialogVisible = false;
            },

            // 登出操作
            checkout() {
                // 修改可见性
                this.visible = true;
                this.disabled = false;
                // 修改登录状态
                this.isLogin = false;
                // 清空登录
                this.isLogin = false;
                for (let loginKey in this.login) {
                    this.login[loginKey] = '';
                }
                // 成功弹窗
                this.$message({
                    showClose: true,
                    message: '您已退出登录',
                    type: 'success'
                });
            },

            // 用户登录
            userLogin() {
                if (this.login.username == null || this.login.password == null) {
                    // 失败弹窗
                    this.$message({
                        showClose: true,
                        message: '账号密码不能为空',
                        type: 'error'
                    });
                    return;
                } else {
                    axios({
                        method: "get",
                        url: "http://localhost:8080/e-rent/user/login?username="
                            + this.login.username
                            + "&password="
                            + this.login.password
                    }).then(resp => {
                        if (resp.data !== 'failed') {
                            // 登录成功
                            this.closeLoginDialog();
                            // 成功弹窗
                            this.$message({
                                showClose: true,
                                message: '登录成功,欢迎您,' + this.login.username,
                                type: 'success'
                            });
                            // 修改可见性
                            this.visible = false;
                            this.disabled = true;
                            // 修改登录状态
                            this.isLogin = true;
                        } else {
                            // 失败弹窗
                            this.$message({
                                showClose: true,
                                message: '账号或密码错误，请重新输入',
                                type: 'error'
                            });
                            this.cleanLoginData();
                        }
                        this.user = resp.data;
                    });
                }
            },

            //打开登录表单
            openLoginDialog() {
                this.loginDialogVisible = true;
            },
            //关闭登录表单
            closeLoginDialog() {
                this.loginDialogVisible = false;
            },

            //打开注册表单
            openRegisterDialog() {
                this.registerDialogVisible = true;
            },
            //关闭注册表单
            closeRegisterDialog() {
                this.registerDialogVisible = false;
            },

            // 打开房屋添加窗口
            openAddHouseDialog(){
                this.addDialogVisible = true;
            },
            // 关闭房屋添加窗口
            closeAddHouseDialog(){
                this.addDialogVisible = false;
            },
            // 用户注册(并登录)
            userRegister(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        axios({
                            method: 'post',
                            url: 'http://localhost:8080/e-rent/user/register',
                            data: this.register
                        }).then(resp => {
                            if (resp.data) {
                                this.$message({
                                    showClose: true,
                                    message: '注册成功',
                                    type: 'success'
                                });
                                this.login.username = this.register.username;
                                this.login.password = this.register.password;
                                this.login.remember = true;
                                this.userLogin();
                                this.registerDialogVisible = false;
                                this.cleanRegisterData();
                            } else {
                                this.$message({
                                    showClose: true,
                                    message: '注册失败',
                                    type: 'error'
                                });
                            }
                        })
                    } else {
                        return false;
                    }
                });

            },

            indexMethod(index) {
                return index + 1;
            },

            //分页
            handleSizeChange(val) {
                this.pageSize = val;
                this.selectByPAC(this.currentPage, this.pageSize);
            },
            handleCurrentChange(val) {
                this.currentPage = val;
                this.selectByPAC(this.currentPage, this.pageSize)
            },

            // 颜色区分
            mainTable({row, rowIndex}) {
                if (this.tableData[rowIndex]["status"] === 1) {
                    this.appointmentButtonClickable = true;
                    return 'sold-row';
                } else {
                    this.appointmentButtonClickable = false;
                    return 'warning-row';
                }
            },

            // 预约按钮是否可按下
            checkAppointmentButtonClickable(row) {
                if (row.status == 0) {
                    //可点击
                    return false;
                }else {
                    //不可点击
                    return true;
                }
            },

            // 租房
            isRent(row) {
                this.$confirm('此操作将确认租该房, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios({
                        method: "get",
                        url: "http://localhost:8080/e-rent/request/isRent?reqId="
                            + row.id
                            + "&houseId="
                            + row.houseId
                            + "&renterId="
                            + this.user.id,
                    }).then(resp => {
                        if (resp.data === "success") {
                            this.changeHouseStatus(row.houseId,1);
                            this.hrefToMsg();
                            this.selectByPAC();
                            // 成功弹窗
                            this.$message({
                                showClose: true,
                                message: '恭喜你，租房成功',
                                type: 'success'
                            });
                        }
                    })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '取消确认'
                    });
                });
            },

            // 租房按钮是否可按下
            checkIsRentButtonClickable(row) {
                if (row.current == 1) {
                    return false;
                } else {
                    return true;
                }
            },

            //退房
            checkOutHouse(row) {
                this.$confirm('此操作将退房, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios({
                        method: "get",
                        url: "http://localhost:8080/e-rent/house/checkOut?houseId=" + row.id,
                    }).then(resp => {
                        if (resp.data === "success") {
                            this.changeHouseStatus(row.id,0);
                            this.hrefToHouse();
                            this.selectByPAC();
                            // 成功弹窗
                            this.$message({
                                showClose: true,
                                message: '恭喜你，退房成功',
                                type: 'success'
                            });
                        }
                    })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '取消确认'
                    });
                });
            },

            // 接受,拒绝请求按钮是否可按
            checkReqComfirmButtonClickable(row) {
                if (row.current == 0) {
                    //可点击
                    return false;
                } else {
                    //不可点击
                    return true;
                }
            },

            // 下架房屋
            deleteHouseById(row) {
                this.$confirm('此操作将下架该房屋, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios({
                        method: "get",
                        url: "http://localhost:8080/e-rent/house/deleteHouseById?id=" + row.id,
                    }).then(resp => {
                        if (resp.data === "success") {
                            this.hrefToHouse();
                            this.selectByPAC();
                            // 成功弹窗
                            this.$message({
                                showClose: true,
                                message: '恭喜你，下架成功',
                                type: 'success'
                            });
                        }
                    })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '取消确认'
                    });
                });
            },

            // 更改租金
            updateHouseRentById(row) {
                this.$prompt('请输入租金', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    inputPattern: /^\d{1,4}?/,
                    inputErrorMessage: '请输入一个0到9999的一个整数'
                }).then(({value}) => {
                    axios({
                        method: "get",
                        url: "http://localhost:8080/e-rent/house/updateHouseRentById?id="
                            + row.id
                            + "&rent="
                            + value,
                    }).then(resp => {
                        if (resp.data === "success") {
                            this.hrefToHouse();
                            this.selectByPAC();
                            // 成功弹窗
                            this.$message({
                                showClose: true,
                                message: '恭喜你，租金修改成功',
                                type: 'success'
                            });
                        }
                    })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '取消修改'
                    });
                });
            },

            // 房屋信息更改按钮是否可按
            checkChangeButtonClickable(row) {
                if (row.status == 0) {
                    //可点击
                    return false;
                } else {
                    //不可点击
                    return true;
                }
            }

        },

        data() {
            //注册用户名查询重复
            var checkUsername = (rule, value, callback) => {
                axios({
                    method: 'get',
                    url: 'http://localhost:8080/e-rent/user/selectByUsername?username=' + this.register.username
                }).then(resp => {
                    setTimeout(() => {
                        if (resp.data) {
                            //用户名存在
                            return callback(new Error('用户名已存在'));
                        } else {
                            callback();
                        }
                    }, 1000);
                })
            };

            return {

                // 用户id
                userId: '',

                // 是否登录
                isLogin: false,

                // 登录信息
                login: {
                    username: '',
                    password: '',
                    remember: ''
                },

                // 可见性
                visible: true,

                // 权限
                disabled: false,

                // 预约时间
                appointmentTime: '',

                // 时间选择框显示
                pickTimeVisible: false,

                // 消息抽屉显示
                userMsgDrawerVisible: false,

                // 租房抽屉显示
                houseRentDrawerVisible: false,

                // 个人信息框显示
                userInfoDialogVisible: false,

                //登录框显示
                loginDialogVisible: false,

                //注册框显示
                registerDialogVisible: false,

                //添加房屋框显示
                addDialogVisible: false,

                //查询框显示
                selectDialogVisible: false,

                // 价格区间查询
                value: [0, 10000],

                // 区间显示
                marks: {
                    500: '500',
                    2500: "2500",
                    4500: "4500",
                    6500: "6500",
                    8500: "8500",
                },

                //总记录数
                totalCount: 100,

                // 当前页码
                currentPage: 1,

                // 每页显示条数
                pageSize: 10,

                // 房屋信息模型
                house: {
                    id: '',
                    ownerId: '',
                    addr: '',
                    type: '',
                    status: '',
                    rent: '',
                    time: ''
                },

                // 用户信息模板
                user: {
                    id: '',
                    username: '',
                    password: '',
                    type: '',
                    addr: '',
                    phone: '',
                    gender: '',
                    birth: '',
                    paid: ''
                },

                // 看房请求模板
                req: {
                    id: '',
                    houseId: '',
                    reqId: '',
                    ownerId: '',
                    appointment: '',
                    reqTime: ''
                },

                // 请求消息表数据
                message_ReqMsg: [],

                // 待处理消息数据
                message_OwnerMsg: [],

                //已经租入的房
                house_rented: [],

                //我发布的房屋信息
                house_self: [],

                // 主表格数据
                tableData: [],

                //注册信息
                register: {
                    username: '',
                    password: '',
                    type: '2',
                    addr: '',
                    phone: '',
                    gender: '男',
                    birth: ''
                },

                // 服务费用 (初始为5,每次登记房屋,预约看房后收取,默认已付款)
                serviceFee: 5,

                // 注册规则
                registerRules: {
                    username: [
                        {required: true, message: '请输入用户名', trigger: "blur"},
                        {min: 4, max: 20, message: '长度在 4 到 20 个字符', trigger: 'blur'},
                        {validator: checkUsername, trigger: 'blur'}
                    ],
                    password: [
                        {required: true, message: '请输入密码', trigger: 'blur'},
                        {min: 4, max: 10, message: '长度在 4 到 10 个字符', trigger: 'blur'}
                    ],
                    addr: [
                        {required: true, message: '请输入地址', trigger: 'blur'}
                    ],
                    type: [],
                    gender: [],
                    birth: [
                        {required: true, message: '请选择日期', trigger: 'change'}
                    ],
                    phone: [
                        {required: true, message: '请输入手机号', trigger: 'blur'},
                        {min: 11, max: 11, message: '手机号长度为 11 位', trigger: 'blur'}
                    ],
                }
            };
        }
    })
    ;
</script>
</body>
</html>