<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>e租</title>

    <style>
        .el-header, .el-footer {
            background-color: #B3C0D1;
            color: #333;
            text-align: center;
            line-height: 60px;
        }

        .el-aside {
            background-color: #D3DCE6;
            color: #333;
            text-align: center;
            line-height: 200px;
        }

        .el-table .warning-row {
            background: #f0f9eb;
        }

        .el-table .sold-row {
            background: oldlace;
        }

        .demo-table-expand {
            font-size: 0;
        }

        .demo-table-expand label {
            width: 90px;
            color: #99a9bf;
        }

        .demo-table-expand .el-form-item {
            margin-right: 0;
            margin-bottom: 0;
            width: 50%;
        }

        .el-row {
            margin-bottom: 20px;
        }

        :last-child {
            margin-bottom: 0;
        }

        .el-col {
            border-radius: 4px;
        }

        .bg-purple-dark {
            background: #99a9bf;
        }

        .bg-purple {
            background: #d3dce6;
        }

        .bg-purple-light {
            background: #e5e9f2;
        }

        .grid-content {
            border-radius: 4px;
            min-height: 36px;
        }

        .row-bg {
            padding: 10px 0;
            background-color: #f9fafc;
        }
    </style>

</head>
<body>

<div id="app">

    <!--容器-->
    <el-container>
        <!--侧边栏-->
        <el-aside width="200px">
            <el-menu default-active="1">
                <el-menu-item index="1" @click="selectByPAC()">
                    <i class="el-icon-s-home"></i>
                    <span slot="title">租房大厅</span>
                </el-menu-item>
                <el-menu-item index="2" @click="hrefToMsg()">
                    <i class="el-icon-message"></i>
                    <span slot="title">消息</span>
                </el-menu-item>
                <el-menu-item index="3" @click="showUserInfo()">
                    <i class="el-icon-setting"></i>
                    <span slot="title">个人信息</span>
                </el-menu-item>
                <el-menu-item index="4" @click="hrefToHouse()">
                    <i class="el-icon-house"></i>
                    <span slot="title">我的租房</span>
                </el-menu-item>
            </el-menu>
        </el-aside>

        <el-container>
            <!--页头-->
            <el-header>
                <el-row>
                    <el-col :span="8" style="text-align: left">
                        <div>
                            <span v-show="disabled">
                                <el-button type="success" @click="openAddHouseDialog()"
                                           icon="el-icon-plus" circle>
                                </el-button>
                            </span>
                            <span>
                            <el-button @click="selectDialogVisible = true" icon="el-icon-search" circle></el-button>
                            </span>
                            <span>
                            <el-button type="primary" @click="cleanHouseDate()&selectByPAC()" icon="el-icon-refresh-right" circle></el-button>
                            </span>
                        </div>
                    </el-col>

                    <el-col :span="8">
                        <div>主页</div>
                    </el-col>

                    <el-col :span="8" style="text-align: right">
                        <div>
                            <span v-show="disabled">
                                <el-button type="info" @click="checkout()"
                                           icon="el-icon-remove">退出登录
                                </el-button>
                            </span>
                            <span v-show="disabled">{{user.username}}</span>
                            <span v-show="visible">
                                <el-button type="warning" @click="openLoginDialog()"
                                           icon="el-icon-bell">请登录
                                </el-button>
                            </span>
                        </div>
                    </el-col>
                </el-row>
            </el-header>

            <!--主体表格-->
            <el-main>
                <template>
                    <el-table
                            :data="tableData"
                            height="750"
                            style="width: 100%"
                            :row-class-name="mainTable">
                        <el-table-column type="expand">
                            <template slot-scope="props">
                                <el-form label-position="left" inline class="demo-table-expand">
                                    <el-form-item label="房屋ID">
                                        <span>{{ props.row.id }}</span>
                                    </el-form-item>
                                    <el-form-item label="房主ID">
                                        <span>{{ props.row.ownerId }}</span>
                                    </el-form-item>
                                    <el-form-item label="房屋地址">
                                        <span>{{ props.row.addr }}</span>
                                    </el-form-item>
                                    <el-form-item label="房型结构">
                                        <span>{{ props.row.type }}</span>
                                    </el-form-item>
                                    <el-form-item label="房屋状态">
                                        <span>{{ props.row.statusStr }}</span>
                                    </el-form-item>
                                    <el-form-item label="租金">
                                        <span>{{ props.row.rent}}</span>/月
                                    </el-form-item>
                                    <el-form-item label="发布时间">
                                        <span>{{ props.row.timeStr}}</span>
                                    </el-form-item>
                                </el-form>
                            </template>
                        </el-table-column>

                        <el-table-column
                                type="index"
                                label="编号"
                                :index="indexMethod">
                        </el-table-column>
                        <el-table-column
                                label="房屋类型"
                                align="center"
                                prop="type">
                        </el-table-column>
                        <el-table-column
                                label="房屋地段"
                                align="center"
                                prop="addr">
                        </el-table-column>
                        <el-table-column
                                label="租金/月"
                                align="center"
                                prop="rent">
                        </el-table-column>
                        <el-table-column
                                label="状态"
                                align="center"
                                prop="statusStr">
                        </el-table-column>
                        <el-table-column
                                align="center"
                                label="操作">
                            <template slot-scope="scope">
                                <el-row>
                                    <el-button
                                            size="middle"
                                            @click="appointment(scope.row)"
                                            :disabled="checkAppointmentButtonClickable(scope.row)"
                                    >预约看房
                                    </el-button>
                                </el-row>
                            </template>
                        </el-table-column>
                    </el-table>
                </template>
            </el-main>

            <!--分页器-->
            <el-footer>
                <el-pagination
                        @size-change="handleSizeChange"
                        @current-change="handleCurrentChange"
                        :current-page="currentPage"
                        :page-sizes="[5, 10, 15, 20]"
                        :page-size="pageSize"
                        :page-size="pageSize"
                        layout="total, sizes, prev, pager, next, jumper"
                        :total="totalCount">
                </el-pagination>
            </el-footer>
        </el-container>
    </el-container>

    <!--登录对话框-->
    <el-dialog
            :visible.sync="loginDialogVisible"
            width="30%"
    >
        <!--登录表单-->
        <el-form
                :model="login"
                label-width="80px"
        >
            <el-form-item label="用户名">
                <el-input v-model="login.username" placeholder="请输入用户名"></el-input>
            </el-form-item>

            <el-form-item label="密码">
                <el-input v-model="login.password" type="password" placeholder="请输入密码"></el-input>
            </el-form-item>

            <el-form-item>
                <el-button type="primary" @click="userLogin()">登录</el-button>
                <el-button @click="closeLoginDialog()">取消</el-button>
                <el-button type="success" @click="closeLoginDialog()&openRegisterDialog()">注册账号</el-button>
            </el-form-item>

        </el-form>

    </el-dialog>

    <!--注册对话框-->
    <el-dialog
            :visible.sync="registerDialogVisible"
            width="30%"
    >
        <!--注册表单-->
        <el-form
                :model="register"
                status-icon
                :rules="registerRules"
                ref="register"
                label-width="100px"
        >
            <el-form-item label="用户名" v-on:blur="checkUserName()" prop="username">
                <el-input v-model="register.username" placeholder="请输入用户名"></el-input>
            </el-form-item>

            <el-form-item label="密码" prop="password">
                <el-input v-model="register.password" type="password" placeholder="请输入密码"></el-input>
            </el-form-item>

            <el-form-item label="电话号" prop="phone">
                <el-input v-model="register.phone" placeholder="请输入电话号"></el-input>
            </el-form-item>

            <el-form-item label="地址" prop="addr">
                <el-input v-model="register.addr" placeholder="请输入地址"></el-input>
            </el-form-item>

            <el-form-item>
                <el-switch
                        style="display: block"
                        v-model="register.gender"
                        active-color="blue"
                        inactive-color="#ff4949"
                        active-text="男"
                        active-value="男"
                        inactive-text="女"
                        inactive-value="女"
                >
                </el-switch>
            </el-form-item>

            <el-form-item>
                <el-switch
                        style="display: block"
                        v-model="register.type"
                        active-color="blue"
                        inactive-color="#ff4949"
                        active-text="租房需求"
                        active-value="2"
                        inactive-text="出租房屋"
                        inactive-value="1"
                >
                </el-switch>
            </el-form-item>


            <el-form-item label="生日" prop="birth">
                <el-date-picker
                        v-model="register.birth"
                        type="date"
                        placeholder="选择日期"
                        format="yyyy 年 MM 月 dd 日"
                        value-format="yyyy-MM-dd"
                >
                </el-date-picker>
            </el-form-item>


            <el-form-item>
                <el-button type="primary" @click="userRegister('register')">注册并登录</el-button>
                <el-button @click="closeRegisterDialog()">取消</el-button>
                <el-button type="success" @click="openLoginDialog()&closeRegisterDialog()">已有账号</el-button>
            </el-form-item>
        </el-form>

    </el-dialog>

    <!--搜索对话框-->
    <el-dialog
            title="搜索房屋"
            :visible.sync="selectDialogVisible"
            width="30%"
    >

        <!--搜索表单-->
        <el-form
                :model="house"
                label-width="80px">
            <el-form-item label="房屋类型">
                <el-input v-model="house.type" placeholder="两室一厅一卫"></el-input>
            </el-form-item>

            <el-form-item label="房屋地址">
                <el-input v-model="house.addr" placeholder="西安市雁塔区"></el-input>
            </el-form-item>
            <!--价格区间-->
            <template>
                <el-form-item label="价格区间">
                    <div class="block">
                        <el-slider
                                v-model="value"
                                range
                                show-stops
                                :marks="marks"
                                :max="10000"
                                :step="500">
                        </el-slider>
                    </div>
                </el-form-item>

            </template>

            <el-form-item>
                <el-button type="primary" @click="selectByPAC()">提交</el-button>
                <el-button @click="selectDialogVisible = false">取消</el-button>
            </el-form-item>
        </el-form>

    </el-dialog>

    <!--添加房屋对话框-->
    <el-dialog
            title="添加房屋"
            :visible.sync="addDialogVisible"
            width="30%"
    >

        <!--添加表单-->
        <el-form
                :model="house"
                label-width="30%">
            <el-form-item label="房屋类型">
                <el-input v-model="house.type" placeholder="2室1厅1卫"></el-input>
            </el-form-item>

            <el-form-item label="房屋地址">
                <el-input v-model="house.addr" placeholder="西安市雁塔区"></el-input>
            </el-form-item>

            <el-form-item label="房屋租金/月">
                <el-input v-model="house.rent" placeholder="2500"></el-input>
            </el-form-item>

            <el-form-item>
                <el-button type="primary" @click="addHouse()&generateExpenseBill(20)">提交</el-button>
                <el-button @click="cleanHouseDate()&closeAddHouseDialog()">取消</el-button>
            </el-form-item>
        </el-form>

    </el-dialog>

    <!--个人信息对话框-->
    <el-dialog :visible.sync="userInfoDialogVisible"
               width="30%">
        <el-card class="box-card">
            <el-descriptions title="用户信息" :column="3">
                <el-descriptions-item>
                    <template slot="label">
                        <i class="el-icon-user"></i>
                        用户名
                    </template>
                    {{user.username}}
                </el-descriptions-item>
                <el-descriptions-item>
                    <template slot="label">
                        <i class="el-icon-mobile-phone"></i>
                        手机号
                    </template>
                    {{user.phone}}
                </el-descriptions-item>
                <el-descriptions-item>
                    <template slot="label">
                        <i class="el-icon-location-outline"></i>
                        居住地
                    </template>
                    {{user.addr}}
                </el-descriptions-item>
                <el-descriptions-item>
                    <template slot="label">
                        <i class="el-icon-tickets"></i>
                        备注
                    </template>
                    <el-tag size="small">{{user.typeStr}}</el-tag>
                </el-descriptions-item>
                <el-descriptions-item>
                    <template slot="label">
                        <i class="el-icon-date"></i>
                        生日
                    </template>
                    {{user.birthStr}}
                </el-descriptions-item>
            </el-descriptions>
        </el-card>
    </el-dialog>

    <!--选择时间对话框-->
    <el-dialog title="选择预约时间"
               :visible.sync="pickTimeVisible"
               width="30%">
        <div style="text-align: center">
            <el-date-picker
                    v-model="appointmentTime"
                    type="datetime"
                    placeholder="选择日期时间" size="large">
            </el-date-picker>
            <br><br><br>
            <el-row>
                <el-button
                        size="middle"
                        type="success"
                        @click="addAppointment()&generateExpenseBill(5)">预约
                </el-button>
                <el-button
                        size="middle"
                        type="danger"
                        @click="pickTimeVisible = false">取消
                </el-button>
            </el-row>
        </div>
    </el-dialog>

    <!--消息抽屉-->
    <el-drawer
            title="我的消息"
            :visible.sync="userMsgDrawerVisible"
            direction="ltr"
            size="80%">
        <p style="text-align: center">我的请求</p><br>
        <el-table :data="message_ReqMsg">
            <el-table-column property="id" label="请求编号"></el-table-column>
            <el-table-column property="reqTime" label="请求时间"></el-table-column>
            <el-table-column property="houseId" label="房屋编号"></el-table-column>
            <el-table-column property="ownerId" label="房主id"></el-table-column>
            <el-table-column property="appointment" label="预约时间"></el-table-column>
            <el-table-column property="currentStr" label="当前进度"></el-table-column>
            <el-table-column
                    align="center"
                    label="操作">
                <template slot-scope="scope">
                    <el-row>
                        <el-button
                                size="middle"
                                type="success"
                                @click="isRent(scope.row)"
                                :disabled="checkIsRentButtonClickable(scope.row)"
                        >确认租房
                        </el-button>
                        <el-button
                                size="middle"
                                type="info"
                                @click="cancelReq(scope.row)">取消预约
                        </el-button>
                    </el-row>
                </template>
            </el-table-column>
        </el-table>
        <br>
        <p style="text-align: center">待我处理</p>
        <el-table :data="message_OwnerMsg">
            <el-table-column property="id" label="请求编号"></el-table-column>
            <el-table-column property="reqTime" label="请求时间"></el-table-column>
            <el-table-column property="houseId" label="房屋编号"></el-table-column>
            <el-table-column property="reqId" label="租客id"></el-table-column>
            <el-table-column property="appointment" label="预约时间"></el-table-column>
            <el-table-column property="currentStr" label="当前进度"></el-table-column>
            <el-table-column
                    align="center"
                    label="操作">
                <template slot-scope="scope">
                    <el-row>
                        <el-button
                                size="middle"
                                type="success"
                                @click="comfirmReq(scope.row)"
                                :disabled="checkReqComfirmButtonClickable(scope.row)"
                        >接受看房
                        </el-button>
                        <el-button
                                size="middle"
                                type="danger"
                                @click="rejectReq(scope.row)"
                                :disabled="checkReqComfirmButtonClickable(scope.row)"
                        >拒绝看房
                        </el-button>
                    </el-row>
                </template>
            </el-table-column>
        </el-table>
    </el-drawer>

    <!--租房抽屉-->
    <el-drawer
            title="我的租房"
            :visible.sync="houseRentDrawerVisible"
            direction="ltr"
            size="90%">
        <p style="text-align: center">我的出租</p><br>
        <el-table :data="house_self">
            <el-table-column property="id" label="房屋编号"></el-table-column>
            <el-table-column property="addr" label="房屋地段"></el-table-column>
            <el-table-column property="type" label="房屋类型"></el-table-column>
            <el-table-column property="rent" label="租金/元"></el-table-column>
            <el-table-column property="timeStr" label="发布时间"></el-table-column>
            <el-table-column property="statusStr" label="状态"></el-table-column>
            <el-table-column property="renterIdStr" label="租户ID"></el-table-column>
            <el-table-column
                    align="center"
                    label="操作">
                <template slot-scope="scope">
                    <el-row>
                        <el-button
                                size="middle"
                                type="primary"
                                @click="updateHouseRentById(scope.row)"
                                :disabled="checkChangeButtonClickable(scope.row)"
                        >更改租金
                        </el-button>
                        <el-button
                                size="middle"
                                type="danger"
                                @click="deleteHouseById(scope.row)"
                                :disabled="checkChangeButtonClickable(scope.row)"
                        >下架
                        </el-button>
                    </el-row>
                </template>
            </el-table-column>
        </el-table>
        <br>
        <p style="text-align: center">我的租入</p>
        <el-table :data="house_rented">
            <el-table-column property="id" label="房屋编号"></el-table-column>
            <el-table-column property="addr" label="房屋地段"></el-table-column>
            <el-table-column property="type" label="房屋类型"></el-table-column>
            <el-table-column property="rent" label="租金/元"></el-table-column>
            <el-table-column property="timeStr" label="发布时间"></el-table-column>
            <el-table-column property="statusStr" label="状态"></el-table-column>
            <el-table-column property="ownerId" label="房东ID"></el-table-column>
            <el-table-column
                    align="center"
                    label="操作">
                <template slot-scope="scope">
                    <el-row>
                        <el-button
                                size="middle"
                                type="danger"
                                @click="checkOutHouse(scope.row)">退房
                        </el-button>
                    </el-row>
                </template>
            </el-table-column>
        </el-table>
    </el-drawer>

</div>


<!--Vue 引入-->
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<!--Axios 引入-->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!-- 引入样式 -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!-- 引入逻辑script-->
<script src="js/script.js"></script>
</body>
</html>